@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
cursor: pointer;
}
body{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('./images/s1.jpg');
        background-repeat: no-repeat;
        background-size:cover;
    
}
form{
    width: 25rem;
    height:54rem ;
    display: flex;
    flex-direction: column;
    background:transparent;
     
    box-shadow:0 8px 32p 0  white;
    border-radius: 50px;
    border-left: 1px solid white;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    border-right: 1px solid white;

}
h1{
    font-size: 50px;
    text-align: center;
    color: white;
    text-shadow:2px 2px 4px rgba(0,0,0,.2) ;
     letter-spacing: 3px;
     margin-bottom: 5%;
     opacity: 0.9;

}
label{
    font-size: 20px;
    color:white;
    margin-left: 10%;
    opacity: 0.9;
    text-shadow:2px 2px 4px rgba(0,0,0,.2) ;

}
input{
    width: 80%;
    margin: 5% auto;
    margin-bottom: 8%;
    border : none;
    outline: none;
    background: transparent;
    color: white;
    border-bottom: 2px solid  white;
    opacity: .8;
}
button{
    width: 50%;
    margin: 3% auto;
    color:white;
    font-size: 15px;
    opacity: 1;
    background: rgba(225,225,255,0.06);
    padding: 10px 30px;
    border: none;
    outline: none;
    border-radius: 30px;
    text-shadow: 2px 2px 4px  white;
    box-shadow: 1px solid  white;
    border-bottom: 1px solid   white;
    border-top: 1px solid  white;
    border-left: 1px solid white;
   
    

}
a{
    font-size:  12px; 
    text-align: center;
    color: white;
    opacity: 1;
    margin-bottom: 5%;
    text-decoration: none;
    


}